.view-all-templates {
    font-family: "Space Mono", monospace;
} 
  .breadcrumb {
    position: relative;
    font-size: 14px;
    color: #b0b0b0; 
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #007BFF; 
  }
  
  .breadcrumb a:hover {
    text-decoration: underline; 
  }
  
  .breadcrumb > span {
    margin-right: 5px;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .template-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .template-item {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .template-item:hover {
    transform: scale(1.05);
  }
  
  .template-item img,
  .template-item video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  