.template-editor-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 45px;
  height: 60%;
  background-color: #a3a3a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%; 
  left: 20px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 10px;
  justify-content: center; 
 
}

.sidebar-item {
  margin: 10px 0;
  color: white;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
}

.back-btn {
  width: 90px;
  height: 30px;
  position: absolute;
  left: -0px;
  background-color: #a3a3a3;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-btn:hover {
  color: #fff;
  background-color: #afafafa0;
}

.editor-title {
  font-size: 34px;
  font-weight: bold;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.tools {
  margin-top: 20px;
}

#bg-color{
  z-index: 1000;
}
